<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807659074900-hi44nr6tt38kn8etsreetjhmif2pbvsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807659074900-hi44nr6tt38kn8etsreetjhmif2pbvsk</string>
	<key>API_KEY</key>
	<string>AIzaSyBnBWo4ZErxhx2GbQEFyaXuOeQN7bBJJOM</string>
	<key>GCM_SENDER_ID</key>
	<string>807659074900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.carrington.TwitterApp-UIKit</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-830ce</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-830ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807659074900:ios:35487455e44412cca284c1</string>
</dict>
</plist>